<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <title>أرشيفي الذكي</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h2>📤 ⬇️ اختر ملفًا من هنا</h2>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" multiple required />
        <input
          type="text"
          name="folder"
          placeholder="اختر اسم للملف (اختياري)"
        />
        <button type="submit">تحميل</button>
      </form>
      <p id="status"></p>
    </div>

    <script>
      const form = document.querySelector("form");
      form.addEventListener("submit", () => {
        document.getElementById("status").innerText =
          "📡 جاري   التحميل يرجى الانتظار ...";
      });
    </script>
  </body>
</html>
